.row{
    margin-bottom: 10px !important;
}

.panel {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #949ba2;
    border-radius: 3px;
}

.panel.panel-filled {
    background-color: rgba(68, 70, 79, 0.5);
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #3d404c;
}

.table > thead > tr > th {
    border-bottom: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(68, 70, 79, 0.5);
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #494b54;
}

.table-hover > tbody > tr:hover {
    background-color: #494b54;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: #3d404c;
}

.panel-filled .table > thead > tr > th, .panel-filled .table > tbody > tr > th, .panel-filled .table > tfoot > tr > th, .panel-filled .table > thead > tr > td, .panel-filled .table > tbody > tr > td, .panel-filled .table > tfoot > tr > td {
    border-color: #484c5a;
}

.panel-filled .table-bordered, .panel-filled .table-bordered > thead > tr > th, .panel-filled .table-bordered > tbody > tr > th, .panel-filled .table-bordered > tfoot > tr > th, .panel-filled .table-bordered > thead > tr > td, .panel-filled .table-bordered > tbody > tr > td, .panel-filled .table-bordered > tfoot > tr > td {
    border-color: #484c5a;
}

.panel-filled .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #44464f;
}

.panel-filled .table-hover > tbody > tr:hover {
    background-color: #494b54;
}

th {
    color: #ffffff;
}


.ld-loading .panel-body {
    position: relative;
}

.ld-loading .panel-body > * {
    transition: opacity 0.3s;
    opacity: 0.2;
}

.ld-loading .panel-body:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.ld-loading .loader {
    display: block;
}

.loader {
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 100;
}


.loader-spin, .loader-spin:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.loader-spin {
    margin: auto auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.8em solid rgba(246, 168, 33, 0.2);
    border-right: 0.8em solid rgba(246, 168, 33, 0.2);
    border-bottom: 0.8em solid rgba(246, 168, 33, 0.2);
    border-left: 0.8em solid #f6a821;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load-spin-an 1.1s infinite linear;
    animation: load-spin-an 1.1s infinite linear;
}

@-webkit-keyframes load-spin-an {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load-spin-an {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
